

/* パソコン幅 */
.wordpress {
  height: 32px;
  width: 100%;
  display: block;
}
.header {
  height: 850px;
  background-image: url(onsengai.jpg);
  background-size: cover;
  opacity: 0.9;
}

.header-top {
  height: 131px;
  padding: 30px 25px;
  border-bottom: solid 1px white;
  background: none;
  display: flex;
  justify-content: space-between;
}
.search-btn {
  line-height: 71px;
  color: white;
}
.search-btn i {
  font-size: 15px;
}
.header-left {
  text-align: center;
}
.header-left a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.header-left p {
  font-size: 14px;
  color: white;
  margin-top: 15px;
}
.header-right i {
  display: none;
}

.header-bottom {
  height: 519px;
  text-align: center;
  padding: 100px;
  background: none;
}
.header-bottom h1 {
  color: white;
  font-size: 90px;
  font-family: 'klee',sans-serif;
  margin-top: 100px;
}
.header-bottom button {
  margin-top: 100px;
  height: 50px;
  width: 200px;
}

.contents {
  height: 100%;
  padding: 90px 0 120px;
  text-align: center;
}
.contents p {
  font-size: 35px;
  font-family: 'klee',sans-serif;
  margin-bottom: 40px;
}
.content {
  height: 700px;
  width: 700px;
  margin: 0 auto;
  background-color: white;
}
.content-image {
  height: 500px;
  background-color: rgb(247, 222, 222);
}
.content-bottom {
  text-align: left;
  padding: 15px;
  background: linear-gradient(rgb(184, 181, 181), rgb(77, 75, 75));
  color: white;
}
.category {
  font-size: 15px;
}
.content-title {
  font-size: 40px;
  line-height: 100px;
  border-bottom: solid 1px white;
}
.content-date {
  margin-top: 20px;
}

.footer {
  height: 100px;
  text-align: center;
  background-color: black;
}
.footer p {
  font-size: 15px;
  line-height: 100px;
  color: white;
}

// /* タブレット */
// @media screen and (max-width: 780px) {
//   .header-right i {
//     display: block;
//     line-height: 72px;
//     font-size: 25px;
//     color: white;
//     cursor: pointer;
//   }
// }

// /* スマホ幅 */
// @media screen and (max-width: 480px) {
  
// }