<div class="wordpress"></div>
<div class="header">
  <div class="header-top">
    <div class="search-btn">
      <i class="fas fa-search">検索</i>
    </div>
    <div class="header-left">
      <a href="http://">Blossom Travel</a>
      <p>あなたの旅行を応援します</p>
    </div>
    <div class="header-right">
      <i class="fas fa-bars"></i>
    </div>
  </div>
  <div class="header-bottom">
    <h1>今すぐ旅を始めましょう</h1>
    <button>今すぐスタート</button>
  </div>
</div>