<%= render partial: "header" %>
<div class="contents">
  <p>Explore all New Trending Stories</p>
  <div class="content">
    <div class="content-image">
    </div>
    <div class="content-bottom">
      <div class="category">
        未分類
      </div>
      <div class="content-title">
        今日は結婚式でした。
      </div>
      <div class="content-date">
        更新日:2020/12/23
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <p>© 2020 taku_fujiwara</p>
</div>