<div class="wordpress"></div>
<div class="header">
  <div class="header-top">
    <div class="search-btn">
      <i class="fas fa-search">検索</i>
    </div>
    <div class="header-left">
      <a href="http://">Blossom Travel</a>
      <p>あなたの旅行を応援します</p>
    </div>
    <div class="header-right">
      <i class="fas fa-bars"></i>
    </div>
  </div>
  <div class="header-bottom">
    <h1>今すぐ旅を始めましょう</h1>
    <button>今すぐスタート</button>
  </div>
</div>
<div class="contents">
  <p>Explore all New Trending Stories</p>
  <div class="content">
    <div class="content-image">
    </div>
    <div class="content-bottom">
      <div class="category">
        未分類
      </div>
      <div class="content-title">
        今日は結婚式でした。
      </div>
      <div class="content-date">
        更新日:2020/12/23
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <p>© 2020 taku_fujiwara</p>
</div>